@model IEnumerable<aracKiralamaWebUI.Models.aracModel>

@{
    ViewBag.Title = "Araç Kirala";
}




<div class="card">
    <div class="card-header">
        <strong>Gider Bilgileri</strong>
    </div>
    <form action="" method="post" class="form-horizontal" action="Kiralama/Create">
        <div class="card-body card-block">

            <div class="row form-group">
                <div class="col col-sm-5">
                    <label for="select" class=" form-control-label">Araç Marka - Modeli</label>
                </div>
                <div class="col-12 col-sm-6">
                    <select name="aracId" id="aracId" class="form-control">
                        @foreach (var item in Model)
                        {
                            <option value="@Html.DisplayFor(modelItem => item.Id)">@Html.DisplayFor(modelItem => item.marka)-@Html.DisplayFor(modelItem => item.model)</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-sm-5">
                    <label for="input-small" class=" form-control-label">Alış Tarihi</label>
                </div>
                <div class="col col-sm-6">
                    <input type="date" id="alisTarihi" name="alisTarihi" class="input-sm form-control-sm form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-sm-5">
                    <label for="input-small" class=" form-control-label">Veris Tarihi</label>
                </div>
                <div class="col col-sm-6">
                    <input type="date" id="verisTarihi" name="verisTarihi" class="input-sm form-control-sm form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-sm-5">
                    <label for="input-small" class=" form-control-label">Veriliş Km</label>
                </div>
                <div class="col col-sm-6">
                    <input type="text" id="verilisKm" name="verilisKm" placeholder="Veriliş Km" class="input-sm form-control-sm form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-sm-5">
                    <label for="input-small" class=" form-control-label">Son Km</label>
                </div>
                <div class="col col-sm-6">
                    <input type="text" id="sonKm" name="sonKm" placeholder="Son Km" class="input-sm form-control-sm form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-sm-5">
                    <label for="input-small" class=" form-control-label">Ucret</label>
                </div>
                <div class="col col-sm-6">
                    <input type="text" id="ucret" name="ucret" placeholder="Ucret" class="input-sm form-control-sm form-control">
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm ">
                <i class="fa fa-dot-circle-o"></i> Kaydet
            </button>
        </div>
    </form>
</div>